body{ margin: 0;}
.header{background-color: blue; clear:both; overflow: auto;}
.logo{ float:left; color: gray; padding:10px; font-size: 40px;}
.nav{ float:right; color: white;}

li{display: inline-block; 
padding: 20px; 
font-size: 20px ;
}
li:hover{color: red;}
.KETO_TIPS li{display: block;}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}
.row:after {                  
    content: "";
    display: table;
    clear: both;
}